section.feedback.background-inverse.background-inverse--blue
  .container
    .row.text-center.u-mb-medium.u-mt-medium
      .col-md-6.col-md-offset-3
        h3.feedback Feedback
        p.u-white I want to make this website more usefull for every developer.<br>
          | If you could leave your feedback in #[a.hero__link(href="https://goo.gl/forms/tFPoF778WhCMcMkM2" target="_blank") this short survey], that would really help me.<br>
          | Thank you!