//- Affiliation links modal
#affiliations-disclaimer.modal.fade(tabindex="-1", role="dialog" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content.navy-blue
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
        h4.navy-blue#amazon-free-label.modal-title.text-center Affiliate links
      .modal-body.text-center
        p.navy-blue Affiliate links have a special code in the URL. If you register from this link, some companies will give free credits to either both of us or just to me (depending on how a company set up their affiliation program - I always ask if they have some coupon codes that will give credits to both sides). Those credits can be used on their website (for a few months of free hosting, a cheaper domain, etc.) or redeemed for money (only for domains providers).<br>
          | Affiliation program doesn't affect whether a company is recommended or not. You can read more in the #[a(href="/faq#general") Do you get paid for including specific companies?] section of the FAQ.
      .modal-footer
        button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close

footer.footer.background-inverse
  .container
    .text-center
      .pull-center
        span © 2016-2017 DeployStack.
        br
        span Some of the links are #[a(href="#" data-toggle="modal", data-target="#affiliations-disclaimer", aria-label="Affiliations disclaimer information") affiliate links]
        br
        span Made by #[a(href="https://github.com/switowski" target="_blank") switowski] using #[a(href="https://www.creative-tim.com/product/material-kit/?affiliate_id=93857" target="_blank") Material Kit] and #[a(href="http://www.freepik.com/free-vector/rocket-flying-out-of-the-monitor_765338.htm" target="_blank") Rocket image by freepik]
      .social-icons.pull-right
        a.js-social-share.dib.pa2(href="http://twitter.com/share?url=https://deploystack.io&amp;text=DeployStack: curated list of tools for launching websites&amp;hashtags=deploystack" target="_blank" title="Twitter share")
          i.fa.fa-twitter
        a.js-social-share.dib.pa2(href="http://www.facebook.com/sharer.php?u=https://deploystack.io" target="_blank" title="Facebook share")
          i.fa.fa-facebook
        a.js-social-share.dib.pa2(href="https://plus.google.com/share?url=https://deploystack.io" target="_blank" title="Google Plus share")
          i.fa.fa-google-plus
