footer.footer
  .container
    .row.text-center
      .col-sm-12
        span © 2016 DeployStack.
        br
        span Made by #[a(href="https://github.com/switowski" target="_blank") switowski] using #[a(href="http://demos.creative-tim.com/material-kit/index.html" targer="_blank") Material Kit] and #[a(href="http://www.freepik.com/free-vector/rocket-flying-out-of-the-monitor_765338.htm" targer="_blank") Rocket image by freepik]
