form.validate(method="post" action="//deploystack.us14.list-manage.com/subscribe/post?u=416fc32caca9fd4416f05307a&amp;id=114f7b0b26" target="_blank" novalidate)
  .row
    .col-sm-12
      .input-group
        span.input-group-addon
          i.material-icons mail
        .form-group
          input#mce-EMAIL.form-control(type="email" value="" placeholder="Your email..." name="EMAIL")
        //- Bot protection, don't remove!
        div(style="position: absolute; left: -5000px;" aria-hidden="true")
          input(type="text" name="b_416fc32caca9fd4416f05307a_114f7b0b26" tabindex="-1" value="")
    .text-center
      button#mc-embedded-subscribe.btn.btn-warning(type="submit" value="Subscribe" name="subscribe") Subscribe
