mixin cdn77-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.cdn77.com/") Open CDN77
mixin amazon-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://aws.amazon.com/cloudfront/") Open CloudFront
mixin maxcdn-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.maxcdn.com/") Open MaxCDN
mixin cloudflare-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.cloudflare.com/") Open Cloudflare

.card.card-nav-tabs.card-plain
  .header.header-primary
    .nav-tabs-navigation
      .nav-tabs-wrapper.nav-center
        ul.nav.nav-tabs(data-tabs="tabs" role="tablist")
          li.active(role="presentation")
            a(href="#cdn-pay-as-you-go" aria-controls="cdn-pay-as-you-go" role="tab" data-toggle="tab") Pay as you go
          li(role="presentation")
            a(href="#cdn-subscriptions" aria-controls="cdn-subscriptions" role="tab" data-toggle="tab") Monthly plans
.content
  .tab-content.text-center
    #cdn-pay-as-you-go.tab-pane.active(role="tabpanel")
      .row
        .col-xs-12.col-sm-4.col-sm-offset-2
          .card.price.price-card--500
            ul
              li.price__header CDN77
              li Transfer: #[strong 0.049 - 0.185 $/GB]
              li Free storage (up to 50GB)
              li Points of presence: 32
              li Transfer discounts start from 30TB
              li Minimum recharge: #[strong $99] per year
            .absolute-signup-button
              +cdn77-signup
        .col-xs-12.col-sm-4
          .card.price.price-card--500
            ul
              li.price__header CloudFront
              li Transfer: #[strong 0.085 - 0.25 $/GB]
              li Free storage
              li
                a(rel="nofollow" target="_blank", href="http://serverfault.com/questions/613199/does-amazon-cloudfront-charge-for-storage") Transfer between data centers:<br>
                | #[strong 0.020 - 0.16 $/GB]
              li 10,000 HTTP requests:<br>
                | #[strong 0.0075 - 0.016 $]
              li 10,000 HTTPS requests:<br>
                | #[strong 0.01 - 0.022 $]
              li Points of presence: 37
            .absolute-signup-button
              +amazon-signup
    #cdn-subscriptions.tab-pane(role="tabpanel")
      .row
        .col-xs-12.col-sm-4.col-sm-offset-2
          .card.price.price-card--400
            ul
              li.price__header MaxCDN
              li 100GB/month (2 PoP): #[strong $9]
              li 500GB/month (3 PoP): #[strong $39]
              li 1TB/month (5 PoP): #[strong $79]
              li $15 per month to use PoP outside of US and Europe
              li $12 per year for each additional PoP
            .absolute-signup-button
              +maxcdn-signup
        .col-xs-12.col-sm-4
          .card.price.price-card--400
            ul
              li.price__header CloudFlare
              li Free package: 3 page rules
              li #[strong $20]/month: 20 page rules
              li #[strong $200]/month: 50 page rules
              li DDoS protection <br>
                | (24/7/365 uptime in higher plans)
            .absolute-signup-button
              +cloudflare-signup
