mixin aws-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://aws.amazon.com/") Open AWS
mixin gcp-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://cloud.google.com/") Open Google Cloud
mixin azure-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://azure.microsoft.com/en-us/") Open Azure

.row.mt4.mb4
  .col-xs-12.col-sm-4
    .card.price.price-card--350
      ul
        li.price__header AWS
        li #[a(href="https://aws.amazon.com/free/" target="_blank") Free tier] for the first 12 months
        li More features than competition
        li Longest time on market<br>
          | (more 3rd party libraries,<br>
          | better documentation)
      .absolute-signup-button
        +aws-signup
  .col-xs-12.col-sm-4
    .card.price.price-card--350
      ul
        li.price__header Google Cloud
        li $300 free credits to spend during first 12-months
        li
          a(href="https://cloud.google.com/free/docs/always-free-usage-limits" target="_blank") "Always Free" tier
      .absolute-signup-button
        +gcp-signup
  .col-xs-12.col-sm-4
    .card.price.price-card--350
      ul
        li.price__header Azure
        li 30 days free trial (with $200 free credits)
        li Good support for Windows application
      .absolute-signup-button
        +azure-signup
