mixin namecheap-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.namecheap.com/?aff=104674") Open Namecheap
mixin namesilo-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.namesilo.com/?rid=79c3e12uv") Open namesilo
mixin 1and1-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.1and1.com/com-domain?ac=OM.US.US469K02463T2103a") Open 1&1

#domain-price.row.mt4.mb4
  .col-xs-12.col-sm-4
    .card.price.price--more-text-space
      ul
        li.price__header Namecheap
        li
          span.b $10.69
          span &nbsp;for&nbsp;
          span.label.label-default.price__label .com
        li
          span.b $12.48
          span &nbsp;for&nbsp;
          span.label.label-default.price__label .org
        li
          span.b $32.88
          span &nbsp;for&nbsp;
          span.label.label-default.price__label .io
        li
          span.b $39.88
          span &nbsp;for&nbsp;
          span.label.label-default.price__label .pizza
        li.ba0
          +namecheap-signup
  .col-xs-12.col-sm-4
    .card.price.price--more-text-space
      ul
        li.price__header Namesilo
        li
          span.b $8.99
          span &nbsp;for&nbsp;
          span.label.label-default.price__label .com
        li
          span.b $10.79
          span &nbsp;for&nbsp;
          span.label.label-default.price__label .org
        li
          span No &nbsp;
          span.label.label-default.price__label .io
          span &nbsp;domain
        li
          span.b $12.99
          span &nbsp;for&nbsp;
          span.label.label-default.price__label .pizza
        li.ba0
          +namesilo-signup
  .col-xs-12.col-sm-4
    .card.price.price--more-text-space
      ul
        li.price__header 1&1
        li
          span #[strong $14.99] (#[strong $0.99] first year) for&nbsp;
          span.label.label-default.price__label .com
        li
          span #[strong $16.99] (#[strong $2.99] first year) for&nbsp;
          span.label.label-default.price__label .org
        li
          span #[strong $49] (#[strong $34.99] first year) for&nbsp;
          span.label.label-default.price__label .io
        li
          span #[strong $99] (#[strong $39.99] first year) for&nbsp;
          span.label.label-default.price__label .pizza
        li.ba0
          +1and1-signup
