mixin mailchimp-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="http://eepurl.com/crOTP5") Open MailChimp
mixin sendinblue-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.sendinblue.com/?ae=445") Open SendinBlue
mixin sparkpost-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.sparkpost.com/") Open SparkPost
mixin amazon-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://aws.amazon.com/ses/") Open Amazon SES
mixin mailgun-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.mailgun.com/") Open Mailgun

.card.card-nav-tabs.card-plain
  .header.header-primary
    .nav-tabs-navigation
      .nav-tabs-wrapper.nav-center
        ul.nav.nav-tabs(data-tabs="tabs" role="tablist")
          li.active(role="presentation")
            a(href="#email-campaigns" aria-controls="email-campaigns" role="tab" data-toggle="tab")
              span.mobile-split-lines Email&nbsp;
              span.mobile-split-lines campaigns
          li(role="presentation")
            a(href="#email-transactional" aria-controls="email-transactional" role="tab" data-toggle="tab")
              span.mobile-split-lines Transactional&nbsp;
              span.mobile-split-lines emails
.content
  .tab-content.text-center
    #email-campaigns.tab-pane.active(role="tabpanel")
      .row
        .col-xs-12.col-sm-4.col-sm-offset-2
          .card.price.price-card--450
            ul
              li.price__header.no-border MailChimp
              li.u-light-grey Free plan
              li 12,000 emails per month
              li 2,000 subscribers
              li Transactional emails through mandrill<br>
                | (requires paid plan)
              li
                button.btn.btn-sm.btn-info(type="button", data-toggle="modal", data-target="#mailchimp-coupon", aria-label="MailChimp coupon code")
                  span.u-bold Get $30 bonus &nbsp;
                    i.material-icons help
            .absolute-signup-button
              +mailchimp-signup
        .col-xs-12.col-sm-4
          .card.price.price-card--450
            ul
              li.price__header.no-border SendinBlue
              li.u-light-grey Free plan
              li 9,000 emails per month<br>
                | (300 emails per day limit)
              li Unlimited subscribers
              li Also transactional emails (free)
              li Transactional SMS (paid)
            .absolute-signup-button
              +sendinblue-signup
    #email-transactional.tab-pane(role="tabpanel")
      .row
        .col-xs-12.col-sm-4
          .card.price
            ul
              li.price__header.no-border SparkPost
              li 100,000 #[strong free] emails per month
              li 10,000 emails per day limit
              li Attachments up to 25MB (free)
              li.no-border
                +sparkpost-signup
        .col-xs-12.col-sm-4
          .card.price
            ul
              li.price__header Amazon SES
              li 62,000 #[strong free] emails per month
              li Attachments: $0.12/GB
              li Fees for receiving emails
              li.no-border
                +amazon-signup
        .col-xs-12.col-sm-4
          .card.price
            ul
              li.price__header Mailgun
              li 10,000 #[strong free] emails per month
              li Free incoming emails
              li Attachments up to 25MB (free)
              li.no-border
                +mailgun-signup
