//- No affiliate
mixin amazon-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://portal.aws.amazon.com/gp/aws/developer/registration/index.html") Open Amazon

.row
  .col-xs-12.u-mt-medium
    .card.price
      ul.price--wider
        li.price__header.no-border Amazon S3
        li.u-light-grey All prices in $ per GB per month
        li Standard Storage $0.021-$0.026
        li Infrequent Access Storage $0.0125-$0.026
        li Glacier Storage $0.007-$0.012
        li Transfering data out $0.05-$0.25<br>
          | First GB per month is free
        li Free transfer to EC2 instance in the same region
        li
          a(rel="nofollow" target="_blank", href="https://aws.amazon.com/s3/pricing/") Check detailed prices
        li.no-border
          +amazon-signup
