mixin uptimerobot-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://uptimerobot.com?ref=195296") Open Uptime Robot
mixin statuscake-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.statuscake.com/") Open StatusCake

//- TODO: remove price-hosting classes if that won't break the styling
#domain-price.row.u-mt-medium.u-mb-medium
  .col-xs-12.col-sm-4.col-sm-offset-2
    .card.price.price-hosting
      ul
        li.price__header Uptime Robot
        li 5 minutes check rate
        li 50 monitors
        li 1 location
        li
          span Content matching&nbsp;
            i.material-icons.material-icon--pricing-table(data-toggle="tooltip" data-placement="top" title="Check if a specific keyword exists or not exists in a web page") help
        li Shows average response time
        li Integration with email, webhooks, Twitter, Hipchat, Pushbullet, Pushover, Slack, Boxcar 2
        li
          span Free email-to-SMS&nbsp;
            i.material-icons.material-icon--pricing-table(data-toggle="tooltip" data-placement="top" title="If you have a phone number from one of the supported GSM providers, you can get SMS notifications for free") help
        li (optional) 15$ for 50 SMS
        li.no-border
          +uptimerobot-signup
  .col-xs-12.col-sm-4
    .card.price.price-hosting
      ul
        li.price__header StatusCake
        li 5 minutes check rate
        li Unlimited monitors
        li 1 random location
        li No content matching
        li Shows average response time
        li Integration with email, webhooks, Twitter, Hipchat, Pushbullet, Pushover, Slack, PagerDuty, VictorOps, OpsGenie
        li No email-to-SMS
        li (optional) 15$ for 50 SMS
        li.no-border
          +statuscake-signup
