mixin github-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://pages.github.com/") Open GitHub Pages
mixin gitlab-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://pages.gitlab.io/") Open GitLab Pages
mixin surge-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="http://surge.sh/") Open Surge
mixin aerobatic-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.aerobatic.com/") Open Aerobatic
mixin netlify-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://www.netlify.com") Open Netlify
mixin firebase-signup
  a.btn.btn-primary.u-bold(rel="nofollow" target="_blank", href="https://firebase.google.com/") Open Firebase

.card.card-nav-tabs.card-plain
  .header.header-primary
    .nav-tabs-navigation
      .nav-tabs-wrapper.nav-center
        ul.nav.nav-tabs(data-tabs="tabs" role="tablist")
          li.active(role="presentation")
            a(href="#static-git" aria-controls="static-git" role="tab" data-toggle="tab") Git
          li(role="presentation")
            a(href="#static-simple" aria-controls="static-simple" role="tab" data-toggle="tab") Simple
          li(role="presentation")
            a(href="#static-advanced" aria-controls="static-advanced" role="tab" data-toggle="tab") Advanced
.content
  .tab-content.text-center
    #static-git.tab-pane.active(role="tabpanel")
      .row.u-mt-medium.u-mb-medium
        .col-xs-12.col-sm-4.col-sm-offset-2
          .card.price.price-card--450
            ul
              li.price__header GitLab pages
              li #[strong Free], static pages are hosted on GitLab
              li Separate websites for projects and organizations
              li Supports any static site generator
              li Free Continuous Integration
              li Slightly more complicated setup
            .absolute-signup-button
              +gitlab-signup
        .col-xs-12.col-sm-4
          .card.price.price-card--450
            ul
              li.price__header GitHub pages
              li #[strong Free], static pages are hosted on GitHub
              li Separate websites for projects and organizations
              li Supports only Jekyll (to use other static site generators, you need to precompile files locally)
              li Easy, out-of-the-box setup
            .absolute-signup-button
              +github-signup
    #static-simple.tab-pane(role="tabpanel")
      .row.u-mt-medium.u-mb-medium
        .col-xs-12.col-sm-4.col-sm-offset-2
          .card.price
            ul
              li.price__header Surge
              li Free plan with unlimited websites, custom domains and basic SSL
              li Paid plan: #[strong $13]/month/project
              li CLI and dashboard interface
              li Global CDN
              li Custom SSL (paid plan)
              li Custom redirects (paid plan)
              li Cross-Origin Resource Sharing (paid plan)
              li.no-border
                +surge-signup
        .col-xs-12.col-sm-4
          .card.price
            ul
              li.price__header Aerobatic
              li Free plan with unlimited websites, custom domains and basic SSL
              li Paid plan: #[strong $15]/month
              li CLI and dashboard interface
              li Global CDN
              li Deploy stages
              li 10 GB/day data transfer (for free)<br>
                | or 500 GB/month (paid plan)
              li Custom domain (paid plan)
              li.no-border
                +aerobatic-signup
    #static-advanced.tab-pane(role="tabpanel")
      .row.u-mt-medium.u-mb-medium
        .col-xs-12.col-sm-4.col-sm-offset-2
          .card.price.price-card--700
            ul
              li.price__header Netlify
              li Free plan for simple websites
              li Paid plans starting from $9/month<br>
                | ($49/month plan is free for Open Souce)
              li CDN for faster websites rendering
              li Free SSL certificates
              li HTTP2 support
              li Unlimited snapshots for reverting changes easily
              li Continuous Integration with GitHub, GitLab, BitBucket or your own repository
              li Supports multiple static site generators (Jekyll, Grunt, Middleman, Roots, Hugo) and front end build tools (Grunt, Gulp, Broccoli)
            .absolute-signup-button
              +netlify-signup
        .col-xs-12.col-sm-4
          .card.price.price-card--700
            ul
              li.price__header Firebase
              li Free plan (1GB storage, 10GB/month transfer)
              li Pay as you go and monthly plans available
              li CDN for faster websites rendering
              li Free SSL certificates
              li HTTP2 support
              li Requires manual deployment
              li Apart from static pages, Firebase provides tools and infrastructure for all kind of websites and apps (check the cloud computing section)
              li Functions - serverless backend (like Amazon Lambda)
            .absolute-signup-button
              +firebase-signup


