extends layout
//----------------------------------- MIXINS --------------------------------//
mixin codeship-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://codeship.com/") Open Codeship
mixin semaphore-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://semaphoreci.com/") Open Semaphore
mixin circleci-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://circleci.com/") Open CircleCI
mixin travis-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://travis-ci.com/") Open Travis
mixin jenkins
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://jenkins.io/") Open Jenkins
mixin gocd
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.gocd.io/") Open GoCD

include includes/section-mixins
//----------------------------------- CONTENT -------------------------------//
block content
  +section-hero(content)
  main
    .main.main-raised.pb6.mb6
      .div
        .container
          .row.mt5
            .col-sm-12
              .card.card-nav-tabs.card-plain
                .header.header-primary
                  .nav-tabs-navigation
                    .nav-tabs-wrapper.nav-center
                      ul.nav.nav-tabs(data-tabs="tabs" role="tablist")
                        li.active(role="presentation")
                          a(href="#ci-hosted" aria-controls="ci-hosted" role="tab" data-toggle="tab")
                            span.mobile-split-lines Hosted&nbsp;
                            span.mobile-split-lines services
                        li(role="presentation")
                          a(href="#ci-self-hosted" aria-controls="ci-self-hosted" role="tab" data-toggle="tab")
                            span.mobile-split-lines Self-hosted&nbsp;
                            span.mobile-split-lines software
              .content
                .tab-content.text-center
                  #ci-hosted.tab-pane.active(role="tabpanel")
                    .row
                      +pricing-card("CircleCI")
                        ul
                          li 2,500 free credits/week<br>
                            | (2,500 credits = 250 build minutes)
                          li Paid plans starting from #[strong $15]/month
                          li MacOS containers in paid plans<br>
                            | Docker support
                          li 100,000 free credits/week<br>
                            | for open sources organizations
                          li Supports GitHub and Bitbucket
                          li
                            +circleci-signup
                      +pricing-card("Codeship")
                        ul
                          li $10 free credits/month<br>
                            | (up to 1,300 service minutes)
                          li Paid plans starting from #[strong $49]/month
                          li #[strong Codeship Basic] plan for <br>
                            | out-of-the-box workflow
                          li #[strong Codeship Pro] plan for fully customizable Docker boxes
                          li Supports GitHub, Bitbucket, Gitlab
                          li
                            +codeship-signup
                      +pricing-card("Semaphore")
                        ul
                          li 100 free private jobs/month
                          li Paid plans starting from #[strong $29]/month <br>
                          li Free for open source projects, <br>
                            | offers #[a(target="_blank" href="https://semaphoreci.com/docs/education-plans.html") educational plans] and <br>
                            | #[a(target="_blank" href="https://semaphoreci.com/docs/non-profit-discount.html") discounts for non-profits]
                          li Linux and macOS containers<br>
                            | Docker support
                          li Supports GitHub and Bitbucket
                          li
                            +semaphore-signup
                      +pricing-card("Travis CI", "col-xs-12 col-sm-4 col-sm-offset-4")
                        ul
                          li Free for open source (public) projects on GitHub (3 concurrent jobs)
                          li Paid plans starting from #[strong $63]/month<br>
                            | (first 100 builds are free)
                          li
                            a(target="_blank" href="https://education.travis-ci.com/") Plans for students
                          li Only supports GitHub
                          li
                            +travis-signup
                  #ci-self-hosted.tab-pane(role="tabpanel")
                    .row
                      +pricing-card("Jenkins", "col-xs-12 col-sm-4 col-sm-offset-2")
                        ul
                          li #[strong Free] and open source
                          li Self-contained, easy to install Java program that you can host yourself
                          li 1000+ plugins
                          li Cross-platform
                          li
                            +jenkins
                      +pricing-card("GoCD")
                        ul
                          li #[strong Free] and open source
                          li Paid support provided by #[a(target="_blank" href="https://www.gocd.org/enterprise/support") ThoughtWorks]
                          li Multiple plugins
                          li Cross-platform
                          li
                            +gocd
