extends layout
//----------------------------------- MIXINS --------------------------------//
mixin codeship-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://codeship.com/") Open Codeship
mixin circleci-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://circleci.com/") Open CircleCI
mixin travis-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://travis-ci.com/") Open Travis
mixin jenkins
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://jenkins.io/") Open Jenkins
mixin gocd
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.gocd.io/") Open GoCD

include includes/section-mixins
//----------------------------------- CONTENT -------------------------------//
block content
  +section-hero(content)
  main
    .main.main-raised.pb6.mb6
      .div
        .container
          .row.mt5
            .col-sm-12
              .card.card-nav-tabs.card-plain
                .header.header-primary
                  .nav-tabs-navigation
                    .nav-tabs-wrapper.nav-center
                      ul.nav.nav-tabs(data-tabs="tabs" role="tablist")
                        li.active(role="presentation")
                          a(href="#ci-hosted" aria-controls="ci-hosted" role="tab" data-toggle="tab")
                            span.mobile-split-lines Hosted&nbsp;
                            span.mobile-split-lines services
                        li(role="presentation")
                          a(href="#ci-self-hosted" aria-controls="ci-self-hosted" role="tab" data-toggle="tab")
                            span.mobile-split-lines Self-hosted&nbsp;
                            span.mobile-split-lines software
              .content
                .tab-content.text-center
                  #ci-hosted.tab-pane.active(role="tabpanel")
                    .row
                      +pricing-card("CircleCI")
                        ul
                          li 1500 build minutes per month for free<br>
                            | (#[a(target="_blank" href="https://discuss.circleci.com/t/free-account-build-minutes/1125/8") is that enough for me?])
                          li Additional containers cost #[strong $50]/month
                          li Paid OS X plans to build in an Apple environment
                          li 4 Linux containers and OS X plan<br>
                            | for free for open source projects
                          li Supports GitHub and Bitbucket
                          li
                            +circleci-signup
                      +pricing-card("Codeship")
                        ul
                          li 100 builds/month for free
                          li Paid plans starting from #[strong $49]/month
                          li #[strong Codeship Basic] plan for <br>
                            | out-of-the-box workflow
                          li #[strong Codeship Pro] plan for fully customizable Docker boxes
                          li Supports GitHub, Bitbucket, Gitlab
                          li
                            .li-filler21
                            +codeship-signup
                      +pricing-card("Travis CI")
                        ul
                          li Free for open source (public) projects on GitHub
                          li Only supports GitHub
                          li Paid plans starting from #[strong $69]/month<br>
                            | (first 100 builds are free)
                          li
                            a(target="_blank" href="https://education.travis-ci.com/") Plans for students
                          li
                            .li-filler67
                            +travis-signup
                  #ci-self-hosted.tab-pane(role="tabpanel")
                    .row
                      +pricing-card("Jenkins", "col-xs-12 col-sm-4 col-sm-offset-2")
                        ul
                          li #[strong Free] and open source
                          li Self-contained, easy to install Java program that you can host yourself
                          li 1000+ plugins
                          li Cross-platform
                          li
                            +jenkins
                      +pricing-card("GoCD")
                        ul
                          li #[strong Free] and open source
                          li Paid support provided by #[a(target="_blank" href="https://www.thoughtworks.com/go/") ThoughtWorks]
                          li Multiple plugins
                          li Cross-platform
                          li
                            +gocd
