extends layout

block content
  section.hero
    .container
      .row
        .hero__box
          .hero__image.hidden-xs.col-sm-12.text-center
            img(src="/img/rocket.svg")
          .hero__text.col-sm-12.text-center
            h1 DeployStack
  main
    .main.main-raised
        .row.text-center
          .col-sm-12
            section.category.u-mb-large
              .container
                .row
                  .col-xs-12.col-md-8.col-md-offset-2
                    h2.category__header Contact
                    p All the code is available on #[a(href="https://github.com/switowski/deploystack") GitHub] and it's under the #[a(href="https://github.com/switowski" target="_blank") MIT License]. If you have any questions or comments, you can #[a(href="https://github.com/switowski/deploystack/issues") create an issue on GitHub], so other people can join the conversation. If you don't have a GitHub account, don't know how to create an issue or just don't think that it's something that has to be discussed publicly, just drop me an email:&nbsp;
                      span.email-address #[strong info](at)#[strong deploystack](dot)#[strong io].
            section.subscribe.background-inverse.background-inverse--blue
              .container
                .row
                  .col-xs-12.col-md-8.col-md-offset-2
                    h3.subscribe__header Subscribe for updates
                    p.subscribe__description If you want to get informed about major updates on the page, join the newsletter.<br>
                      | I will send you an e-mail if a new service is added or the existing one is updated (no spam!).
                .row
                  .col-md-6.col-md-offset-3
                    include includes/signup
