extends layout
//----------------------------------- MIXINS --------------------------------//
mixin mailchimp-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="http://eepurl.com/crOTP5") Open MailChimp
mixin sendinblue-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.sendinblue.com/?tap_a=30591-fb13f0&tap_s=249268-48d542") Open SendinBlue
mixin amazon-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://aws.amazon.com/ses/") Open Amazon SES
mixin mailgun-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.mailgun.com/") Open Mailgun

include includes/section-mixins
//----------------------------------- CONTENT -------------------------------//
block content
  include includes/modals/emails-modals
  +section-hero(content)
  main
    .main.main-raised.pb6.mb6
      .div
        .container
          .row.mt5
            .col-sm-12
              .card.card-nav-tabs.card-plain
                .header.header-primary
                  .nav-tabs-navigation
                    .nav-tabs-wrapper.nav-center
                      ul.nav.nav-tabs(data-tabs="tabs" role="tablist")
                        li.active(role="presentation")
                          a(href="#email-campaigns" aria-controls="email-campaigns" role="tab" data-toggle="tab")
                            span.mobile-split-lines Email&nbsp;
                            span.mobile-split-lines campaigns
                        li(role="presentation")
                          a(href="#email-transactional" aria-controls="email-transactional" role="tab" data-toggle="tab")
                            span.mobile-split-lines Transactional&nbsp;
                            span.mobile-split-lines emails
              .content
                .tab-content.text-center
                  #email-campaigns.tab-pane.active(role="tabpanel")
                    .row
                      +pricing-card("MailChimp", "col-xs-12 col-sm-4 col-sm-offset-2")
                        ul
                          li.light-grey Free plan
                          li 10,00 emails per month
                          li 2,000 subscribers
                          li Free&nbsp;
                            a(rel="nofollow" target="_blank", href="https://mailchimp.com/automate/") automation emails
                          li Transactional emails (API)<br>
                            | available with #[a(rel="nofollow" target="_blank", href="https://mandrill.com/") Mandrill] (paid)
                          li "Pay per use" option available
                          li
                            button.btn.btn-sm.btn-info(type="button", data-toggle="modal", data-target="#mailchimp-coupon", aria-label="MailChimp coupon code")
                              span.b Get $30 bonus &nbsp;
                                i.material-icons help
                          li
                            +mailchimp-signup
                      +pricing-card("SendinBlue")
                        ul
                          li.light-grey Free plan
                          li 300 emails per day<br>
                            |(and a #[a(rel="nofollow" target="_blank", href="https://help.sendinblue.com/hc/en-us/articles/209421725-What-does-the-Requeue-feature-do-") "Requeue"] feature)
                          li Unlimited subscribers
                          li Free&nbsp;
                            a(rel="nofollow" target="_blank", href="https://www.sendinblue.com/marketing-automation/") automation emails
                          li Free transactional emails
                          li No "Pay per use"
                          li Transactional SMS (paid)
                          li
                            .li-filler5
                            .li-filler21
                            +sendinblue-signup
                  #email-transactional.tab-pane(role="tabpanel")
                      +pricing-card("Amazon SES", "col-xs-12 col-sm-4 col-sm-offset-2")
                        ul
                          li Sending emails from an application<br>
                            | hosted on EC2: 62,000 #[strong free] emails<br>
                            | per month (otherwise, you pay<br>
                            | #[strong $0.10] per 1,000 emails)<br>
                          li Attachments: $0.12/GB
                          li Fees for receiving emails<br>
                            | (first 1,000 are free)
                          li
                            .li-filler16
                            .li-filler38
                            +amazon-signup
                      +pricing-card("Mailgun")
                        ul
                          li 10,000 #[strong free] emails per month
                          li 100 #[strong free] validations per month
                          li Free incoming emails
                          li 5 days of log retention for free
                          li Monthly plans or pay as you go
                          li Attachments up to 25MB (free)
                          li
                            +mailgun-signup
