extends layout
//----------------------------------- MIXINS --------------------------------//
//- Signup buttons mixins
mixin sentry-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://sentry.io/welcome/?utm_source=deploystack") Open Sentry
mixin rollbar-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://rollbar.com/") Open Rollbar
//- mixin raygun-signup
//-   a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://raygun.com/") Open Raygun

include includes/section-mixins
//----------------------------------- CONTENT -------------------------------//
block content
  +section-hero(content)
  main
    .main.main-raised.pb6.mb6
      .text-center
        .container
          .row.mt4
            +pricing-card('Sentry', 'col-xs-12 col-sm-4 col-sm-offset-2')
              ul
                li Free plan with:<br>
                  | 5,000 events per month<br>
                  | 30 days data retention<br>
                  | 1 user
                li Paid plans starting at #[strong $26]/month:<br>
                  | 100,000 events per month<br>
                  | 90 days data retention<br>
                  | Unlimited users
                li Pre-pay annually or pay on-demand
                li
                  a(rel="nofollow" target="_blank", href="https://github.com/getsentry/sentry") Open source version
                li
                  +sentry-signup
            +pricing-card('Rollbar')
              ul
                li Free plan with:<br>
                  | 5,000 events per month<br>
                  | 30 days data retention
                li Paid plans starting at #[strong $41]/month:<br>
                  | 100,000 events per month<br>
                  | 180 days data retention
                li Unlimited applications
                li Unlimited users
                li
                  .li-filler21
                  .li-filler21
                  +rollbar-signup
