extends layout

block content
  - var cdn = env.CDN ? env.CDN : ''
  section.hero
    .container
      .row
        .hero__box
          .hero__image.text-left.hidden-xs.col-sm-6.col-md-5
            img(src=cdn + "/img/rocket.svg" alt="rocket flying out of the monitor")
          .hero__text.col-xs-12.col-sm-6.col-md-7
            h1.text-center DeployStack
            p.hero__lead Tired of comparing hosting plans, calculating the file storage cost or paying for the SSL certificates?
            p.hero__lead DeployStack is a list of the best, hand picked tools and services that you might need when launching a website.
            .hero__buttons.text-center
              .dropdown-relative
                a.btn.btn-ghost.b.ma0.dropdown-toggle(href="#" data-toggle="dropdown") How to get free... #[b.caret]
                ul.dropdown-menu.dropdown-menu-right
                  li #[a(href="/#hosting") Hosting]
                  li #[a(href="/#ssl") SSL certificate]
                  li #[a(href="/#monitoring") Uptime monitoring]
                  li #[a(href="/#error-tracking") Error tracking]
                  li #[a(href="/#continuous-integration") Continuous integration]
                  li #[a(href="/#static-websites") Static websites hosting]
              a.btn.btn-ghost.b.ml2(href="/faq#general") How we select tools?
            p.hero__disclaimer.text-center Full disclosure: Some of the links are #[a.hero__link(data-toggle="modal", data-target="#affiliations-disclaimer", aria-label="Affiliations disclaimer information") affiliate links]
  main.blue-background
    .container
      .row
        .col-sm-12.col-md-6.col-lg-4
          .card.price
            h3.text-center.mb6 Hosting
            p Your website needs a home, preferably somewhere in the cloud. Check what options you have for different amount of monthly fee (starting from the free option).
        .col-sm-12.col-md-6.col-lg-4
          .card.price
            h3.text-center.mb6 Domain
            p Your website needs a URL, so people can visit it. Check how much different domains cost per year (the common ones like .com but also the unusual ones like .pizza).
        .col-sm-12.col-md-6.col-lg-4
          .card.price
            h3.text-center.mb6 SSL certificate
            p Your website needs a home, preferably somewhere in the cloud. Check what options you have for different amount of monthly fee (starting from the free option).
        .col-sm-12.col-md-6.col-lg-4
          .card
            .card-header
              h3.text-center Monitoring
            .card-content
              p Your website needs a home, preferably somewhere in the cloud. Check what options you have for different amount of monthly fee (starting from the free option).
        .col-sm-12.col-md-6.col-lg-4
          .card
            .card-header
              h3.text-center Monitoring
            .card-content
              p Your website needs a home, preferably somewhere in the cloud. Check what options you have for different amount of monthly fee (starting from the free option).
        .col-sm-12.col-md-6.col-lg-4
          .card
            .card-header
              h3.text-center Monitoring
            .card-content
              p Your website needs a home, preferably somewhere in the cloud. Check what options you have for different amount of monthly fee (starting from the free option).
        .col-sm-12.col-md-6.col-lg-4
          .card
            .card-header
              h3.text-center Monitoring
            .card-content
              p Your website needs a home, preferably somewhere in the cloud. Check what options you have for different amount of monthly fee (starting from the free option).
