extends layout
//----------------------------------- MIXINS --------------------------------//
//- Signup buttons mixins
mixin amazon-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://portal.aws.amazon.com/gp/aws/developer/registration/index.html") Open Amazon
mixin amazon-lightsail
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://amazonlightsail.com/") Open Amazon Lightsail
mixin heroku-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://signup.heroku.com/") Open Heroku
mixin digitalocean-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.digitalocean.com/?refcode=d71aa25b4581") Open DigitalOcean
mixin linode-signup
  a.btn.btn-primary.b(rel="nofollow" target="_blank", href="https://www.linode.com/?r=9a00d53b309b115b96561104e5bb88ed9ecf9293") Open Linode
mixin amazon-nostorage
  span No storage<br>
    | (from $0.1/GB-month on #[a(target="_blank" href="https://aws.amazon.com/ebs/pricing/") EBS])

//- Coupon codes modal buttons
mixin linode-coupon
  button.btn.btn-sm.btn-info(type="button", data-toggle="modal", data-target="#linode-coupon", aria-label="Linode coupon code")
    span.b Get $10 bonus &nbsp;
      i.material-icons help
mixin digitalocean-coupon
  button.btn.btn-sm.btn-info(type="button", data-toggle="modal", data-target="#digitalocean-coupon", aria-label="DigitalOcean coupon code")
    span.b Get $10 bonus &nbsp;
      i.material-icons help
mixin amazon-free(text)
  - text = text || "Check also the Free Tier "
  button.btn.btn-sm.btn-info(type="button", data-toggle="modal", data-target="#amazon-free", aria-label="Amazon Free Tier information")
    span.b=text
      i.material-icons help
mixin heroku-paas
  button.btn.btn-sm.btn-info(type="button", data-toggle="modal", data-target="#heroku-paas", aria-label="What is Heroku PaaS")
    span.b Platform as a service &nbsp;
      i.material-icons help

include includes/section-mixins

//----------------------------------- CONTENT -------------------------------//
block content
  +section-hero(content)
  main
    .main.main-raised.pb6.mb6
      .text-center
        .container
          .row.mt4.text-center
            .col-sm-12
              p Display price:
              .togglebutton.togglebutton--blue
                label
                  span.js-switch-label.js-switch-label--alternative Per hour&nbsp;
                  input.js-price-switch(type="checkbox" checked="" data-target="#hosting-price")
                  span.js-switch-label.js-switch-label--normal.js-switch-label--active Per month
          .row.mt4
            .col-xs-12
              .card.card-nav-tabs.card-plain.mb0
                .header.header-primary
                  .nav-tabs-navigation
                    .nav-tabs-wrapper.nav-center
                      ul#hosting-price.nav.nav-tabs(data-tabs="tabs" role="tablist")
                        li.active(role="presentation")
                          a(href="#free" aria-controls="free" role="tab" data-toggle="tab") Free
                        li(role="presentation")
                          a(href="#5usd" aria-controls="5usd" role="tab" data-toggle="tab")
                            span.js-price-normal $5
                            span.js-price-alternative.js-price-hidden $0.007
                        li(role="presentation")
                          a(href="#10usd" aria-controls="10usd" role="tab" data-toggle="tab")
                            span.js-price-normal $10
                            span.js-price-alternative.js-price-hidden $0.015
                        li(role="presentation")
                          a(href="#20usd" aria-controls="20usd" role="tab" data-toggle="tab")
                            span.js-price-normal $20
                            span.js-price-alternative.js-price-hidden $0.03
                        li(role="presentation")
                          a(href="#40usd" aria-controls="40usd" role="tab" data-toggle="tab")
                            span.js-price-normal $40
                            span.js-price-alternative.js-price-hidden $0.06
                        li(role="presentation")
                          a(href="#80usd" aria-controls="80usd" role="tab" data-toggle="tab")
                            span.js-price-normal $80
                            span.js-price-alternative.js-price-hidden $0.12
                        li(role="presentation")
                          a(href="#320usd" aria-controls="320usd" role="tab" data-toggle="tab")
                            span.js-price-normal $160
                            span.js-price-alternative.js-price-hidden $0.48
              .content
                .tab-content.text-center
                  #free.tab-pane.active(role="tabpanel")
                    .row
                      +pricing-card("Amazon Free Tier", "col-xs-12 col-sm-4 col-sm-offset-2")
                        ul
                          li 1 GB RAM
                          li 1 CPU
                          li 30 GB of SSD storage
                          li 750 hours of t2.micro with Linux<br>
                            | AND<br>
                            | 750 hours of t2.micro with Windows
                          li Linux and Windows hosting
                          li
                            +amazon-free('1 year only ')
                          li
                            +amazon-signup
                      +pricing-card("Heroku")
                        ul
                          li 512 MB (1 dyno)
                          li 1 CPU
                          li 5 MB for DB (~10 000 rows)
                          li 1000 dyno hours per month (running one website non-stop takes ~750 dyno hours per month)
                          li
                            +heroku-paas
                          li
                            .li-filler46
                            +heroku-signup
                  #5usd.tab-pane(role="tabpanel")
                    .row
                      +pricing-card("Linode")
                        ul
                          li 1 GB RAM
                          li 1 CPU
                          li 20 GB of SSD storage
                          li 1 TB of transfer
                          li IPv6 support
                          li
                            +linode-coupon
                          li
                            +linode-signup
                      +pricing-card("DigitalOcean")
                        ul
                          li 512 MB RAM
                          li 1 CPU
                          li 20 GB of SSD storage
                          li 1 TB of transfer
                          li IPv6 support
                          li
                            +digitalocean-coupon
                          li
                            +digitalocean-signup
                      +pricing-card("Amazon Lightsail")
                        ul
                          li 512 MB RAM
                          li 1 CPU
                          li 20 GB of SSD storage
                          li 1 TB of transfer
                          li No IPv6 support
                          li
                            +amazon-free
                          li
                            +amazon-lightsail
                  #10usd.tab-pane(role="tabpanel")
                    .row
                      +pricing-card("Linode")
                        ul
                          li 2 GB RAM
                          li 1 CPU
                          li 30 GB of SSD storage
                          li 2 TB of transfer
                          li IPv6 support
                          li
                            +linode-coupon
                          li
                            +linode-signup
                      +pricing-card("DigitalOcean")
                        ul
                          li 1 GB RAM
                          li 1 CPU
                          li 30 GB of SSD storage
                          li 2 TB of transfer
                          li IPv6 support
                          li
                            +digitalocean-coupon
                          li
                            +digitalocean-signup
                      +pricing-card("Amazon Lightsail")
                        ul
                          li 1 GB RAM
                          li 1 CPU
                          li 30 GB of SSD storage
                          li 2 TB of transfer
                          li No IPv6 support
                          li
                            +amazon-free
                          li
                            +amazon-lightsail
                  #20usd.tab-pane(role="tabpanel")
                    .row
                      +pricing-card("Linode")
                        ul
                          li 4 GB RAM
                          li 2 CPU
                          li 48 GB of SSD storage
                          li 3 TB of transfer
                          li IPv6 support
                          li
                            +linode-coupon
                          li
                            +linode-signup
                      +pricing-card("DigitalOcean")
                        ul
                          li 2 GB RAM
                          li 2 CPU
                          li 40 GB of SSD storage
                          li 3 TB of transfer
                          li IPv6 support
                          li
                            +digitalocean-coupon
                          li
                              +digitalocean-signup
                      +pricing-card("Amazon Lightsail")
                        ul
                          li 2 GB RAM
                          li 2 CPU
                          li 40 GB of SSD storage
                          li 3 TB of transfer
                          li No IPv6 support
                          li
                            +amazon-free
                          li
                            +amazon-lightsail
                  #40usd.tab-pane(role="tabpanel")
                    .row
                      +pricing-card("Linode")
                        ul
                          li 8 GB RAM
                          li 4 CPU
                          li 96 GB of SSD storage
                          li 4 TB of transfer
                          li IPv6 support
                          li
                            +linode-coupon
                          li
                            +linode-signup
                      +pricing-card("DigitalOcean")
                        ul
                          li 4 GB RAM
                          li 2 CPU
                          li 60 GB of SSD storage
                          li 4 TB of transfer
                          li IPv6 support
                          li
                            +digitalocean-coupon
                          li
                            +digitalocean-signup
                      +pricing-card("Amazon Lightsail")
                        ul
                          li 4 GB RAM
                          li 2 CPU
                          li 60 GB of SSD storage
                          li 4 TB of transfer
                          li No IPv6 support
                          li
                            +amazon-free
                          li
                            +amazon-lightsail
                  #80usd.tab-pane(role="tabpanel")
                    .row
                      +pricing-card("Linode")
                          ul
                            li 12 GB RAM
                            li 6 CPU
                            li 192 GB of SSD storage
                            li 8 TB of transfer
                            li IPv6 support
                            li
                              +linode-coupon
                            li
                              +linode-signup
                      +pricing-card("DigitalOcean")
                        ul
                          li 8 GB RAM
                          li 4 CPU
                          li 80 GB of SSD storage
                          li 5 TB of transfer
                          li IPv6 support
                          li
                            +digitalocean-coupon
                          li
                            +digitalocean-signup
                      +pricing-card("Amazon Lightsail")
                        ul
                          li 8 GB RAM
                          li 2 CPU
                          li 80 GB of SSD storage
                          li 5 TB of transfer
                          li No IPv6 support
                          li
                            +amazon-free
                          li
                            +amazon-lightsail
                  #320usd.tab-pane(role="tabpanel")
                    .row
                      +pricing-card("Linode")
                        ul
                          li 48 GB RAM
                          li 12 CPU
                          li 768 GB of SSD storage
                          li 20 TB of transfer
                          li IPv6 support
                          li
                            +linode-coupon
                          li
                            +linode-signup
                      +pricing-card("DigitalOcean")
                        ul
                          li 32 GB RAM
                          li 12 CPU
                          li 320 GB of SSD storage
                          li 7 TB of transfer
                          li IPv6 support
                          li
                            +digitalocean-coupon
                          li
                            +digitalocean-signup
                      +pricing-card("Amazon")
                        ul
                          li.u-light-grey.amazon-small-padding m4.2xlarge
                          li 32 GB RAM
                          li 8 CPU
                          li
                            +amazon-nostorage
                          li
                            +amazon-free
                          li
                            .li-filler25
                            +amazon-signup
      .container.mt4
        section.row.mt4
          .col-sm-12
            h3 Frequently Asked Questions
            .panel-group(role="tablist" aria-multiselectable="true")
              .panel.panel-default
                +accordion-header('hosting-why')
                  | Why do I need hosting?
                +accordion-body('hosting-why')
                  p While it's possible to host your website from your own computer, it's not a good idea. So you will need to pay some company to host your project. The most common option is a cloud hosting service (basically, it's a Virtual Private Server in a cloud) - when you need a server, you start one (small or big machine - it doesn't matter). When you no longer need a server - you stop it. Two main advantages are:
                  ul.faq-list
                    li You are billed for what you use. If you need a server with 1TB of RAM (yes, that 1024 GB of RAM!) for some heavy computations that will take 1 hour - fine - you use it for one hour and you pay for 1 hour.
                    li It's easy to scale this kind of servers. If more people start visiting your website and you need a more powerful server, quite often a company will provide you with an easy to use interface where you can scale you current machine with just a click of a button.
              .panel.panel-default
                +accordion-header('hosting-important')
                  | What resources are important?
                +accordion-body('hosting-important')
                  p Each company gives you a different configuration of resources. For the same amount of money, you might get more RAM in one place and more disk space in another. But which resources are the most important ones ?
                  p Well, it depends what is the purpose of your website. If you are planning on hosting huge videos, then you will definitely need a lot of bandwidth and storage. For most cases (a typical website) this is what I would recommend:
                  ul.faq-list
                    li Storage - just go for a faster option (prefer SSD or RAID over a normal HDD). You probably won't need that much space (you can store large files on Amazon S3, which is a crazy cheap option comparing to storing them at your hosting provider), so usually those 20-30 GB are more than enough to start with.
                    li Transfer - in a typical use case (so when you are NOT planning on hosting videos or large files), the monthly data transfer that provider gives you is more than enough, especially since browsers are caching a lot of resources. For example, this website downloads less than 300 KB of data when you visit it the first time and 2 KB on each next visit, so to use 1 TB of bandwidth, more than 3 000 000 people would have to visit it month.
                    li CPU - having more than 1 CPU allows you to have concurrent web workers (so 2 CPUs means that your server can respond to 2 requests in the same time). For a small website, having 1 CPU might be enough for a long time (web servers are fast with responding to requests), but if you see that you use a lot of CPU frequently, increase the number of CPUs.
                    li RAM - having a lot of RAM allows you to cache more stuff (and this in turn allows you to faster respond to HTTP requests) and run some services more efficiently (like the database). When your websites grows and more things happen in the background, RAM can become your main bottleneck.
              .panel.panel-default
                +accordion-header('hosting-recommendation')
                  | Any personal recommendations?
                +accordion-body('hosting-recommendation')
                  p If I would like to test a hobby project and could still use the Amazon free tier, then I would go for that. It's a good opportunity to get familiar with AWS infrastructure and be ready to use it for bigger projects. If the free tier is not possible and I'm fine with Heroku's Platform as a Service model, then I would go for this solution. Deploying is easy and the free plan is free forever (I sometimes find projects that have not been updated since a long time, but they still run on Heroku).
                  p If you decide to pay some money for the hosting (or you simply can't use any of the free solutions) both DigitalOcean and Linode offer equally great services and you can't go wrong choosing either of them.
      .container.mt4
        section.row.mt4
          .col-sm-12
            h3.mb4 Other options
            p Looking for smaller/cheaper companies or different features? Check out: #[a(href="https://www.vultr.com/" target="_blank") Vultr], #[a(href="https://www.ramnode.com/" target="_blank") Ramnode] or #[a(href="https://www.ovh.com/" target="_blank") OVH].


  //----------------------------------- MODALS ------------------------------//
  section.modals
    //- Heroku PaaS modal
    #heroku-paas.modal.fade(tabindex="-1", role="dialog", aria-labelledby="heroku-paasLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
            h4#heroku-paasLabel.modal-title Platform as a Service
          .modal-body
            p All the hosting services presented here are "Infrastructure as a Service" (you pay to rent a machine and you are free to do whatever you want) but Heroku is a "Platform as a Service". You don't get a machine. Instead you get a service that will allow you to deploy your application. This means that Heroku is "enforcing" the workflow on you - your DB choices are limited to only PostgreSQL, to deploy your application, you have to use the `Heroku Toolbelt` (which works in a similar way as pushing latest changes to github), etc. So even though, it's not a big problem (and for some, it might actually be easier, as Heroku will take care of securing your machines and doing all administrative tasks that you would have to do with your own machine), it's not the "do what you want" approach that other companies give you.
          .modal-footer
            button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close

    //- Amazon Free tier modal
    #amazon-free.modal.fade(tabindex="-1", role="dialog", aria-labelledby="amazon-free-label" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
            h4#amazon-free-label.modal-title.text-center AWS Free Tier
          .modal-body
            p When you register at AWS (Amazon Web Services) account, you can use the Free Tier for the first 12 months. With this Free Tier, you can run 2 t2.micro instances (one with Linux, the other with Windows), use 5 GBs of S3 storage, run a small Relational Database and use a bunch of other AWS services. It's a great way to start with a very small project and when your website needs to grow, you can easily scale it into one of the paid plans. Check out #[a(target="_blank", href="https://aws.amazon.com/free/") all the Free Tier benefits].
          .modal-footer
            button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close

    //- Coupon codes modals
    //- Linode
    #linode-coupon.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
      .modal-dialog.modal-sm(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
          .modal-body.text-center
            p To get $10 bonus, use code:
              pre.copy.uncopied(data-clipboard-text='DEPLOYSTACK10')
                code DEPLOYSTACK10
                span.label.copy-label Copy
                span.label.copied-label Copied!
            p during the registration.
          .modal-footer
            button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close

    //- DigitalOcean
    #digitalocean-coupon.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
          .modal-body.text-center
            p Everyone gets $10 credits when they sign up for DigitalOcean.<br>
              | Simply click the "Open DigitalOcean" button and register.
          .modal-footer
            button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close

