/////////////////////////// Colors definitions ///////////////////////////////
$grey: #999;
$ghost-grey: #90a4ae;
$grey-border: rgba(153, 153, 153, .3);
$grey-text: #212121;
$light-grey: rgba(0, 0, 0, .5);
$primary-blue: #03a9f4;
$primary-text: #3c4858;
$white: #fff;
$white-on-dark: rgba(255, 255, 255, .8);
$dark-background: #263238;
$dark-blue: #0277bd;
$deep-purple: #7e57c2;
$orange: #ff9800;
//////////////////////// Additional settings /////////////////////////////////
$bigger-font: 16px;

//////////////////////// Utilities ///////////////////////////////////////////
// Class used to create the circle background
.circle {
  border-radius: 50%;
}

// Copy widget styles
.copy {
  cursor: pointer;
  position: relative;
}

.copy-label,
.copied-label {
  position: absolute;
  right: 0;
  visibility: hidden;
}

.uncopied:hover > .copy-label {
  visibility: visible;
}

.copied > .copied-label {
  background-color: $primary-blue;
  // Add nice fadeout animation
  opacity: 0;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  visibility: visible;
}

// To make the label aligned vertically in the middle, add line height
pre.copy {
  line-height: 22px;
}

// Wrap the dropdown menu in a div with this class, to align the menu correctly
.dropdown-relative {
  position: relative;
  display: inline-block;
}

// Make the font inside lists consistent with paragraph fonts
.list--big-font {
  font-size: $bigger-font;
}

//////////////////////// General rules - for each website ////////////////////

p {
  font-size: $bigger-font;
}

.main-raised {
  // Limit width to make the cards more visible
  margin: -60px auto 0;
  max-width: 1300px;
}

// Adjust the font size of material icons in cards
.material-icons--inline-card {
  font-size: 1.2em;
}

// Center the navigation
.nav-center {
  display: flex;
  justify-content: center;
}

////////////////////////////// Home page specific elements ///////////////////
.hero {
  background-color: $primary-blue;
  color: $white;
  min-height: 300px;

  &__description {
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 20px 0 10px;
  }
}

.hero__icon {
  height: 300px;
  // SVG files have some white space that we need to compensate for here
  margin-top: -40px;
  width: 300px;
}

.card__icon {
  height: 120px;
  width: 120px;
}

// Used by footer
.background-inverse {
  background-color: $dark-background;
  color: $white;

  p {
    color: $white-on-dark;
  }

  &--blue {
    background-color: $dark-blue;
  }
}

.js-switch-label {
  text-transform: uppercase;

  &--active {
    color: $grey-text;
    font-weight: bold;
  }
}

.js-price-hidden {
  display: none;
}

// Pricing tables are not equal, but we can create a dummy fillers that will
// take enough vertical space that we don't need to specify heights on the cards
// You can combine them together
.li-filler4 { height: 4px; }
.li-filler16 { height: 16px; }
.li-filler21 { height: 21px; }
.li-filler25 { height: 25px; }
.li-filler38 { height: 38px; }

// Make labels on price cards more readable
.price__label {
  font-size: 12px;
  text-transform: none;
}
//////////////////////////// Monitoring category /////////////////////////////
// Align the help icon with the text in the list item
.material-icon--pricing-table {
  color: $primary-blue;
  font-size: 20px;
  margin-top: -5px;
  position: relative;
  top: 4px;
}
////////////////////////////////// Emails category ///////////////////////////
// Simple trick to make the email categories (campaign/transactional) break
// on small devices (it looks better that way).
.mobile-split-lines {
  display: block;
}

@media screen and (min-width: 400px){
  .mobile-split-lines {
    display: inline;
  }
}
/////////////////////////////// Subscribe  //////////////////////////////////
.subscribe {
  &__header {
    font-weight: bold;
    margin-top: 100px;
  }

  &__description {
    font-size: 14px;
  }
}

// Overwrite some bootstrap styles
.input-group .input-group-addon {
  padding-left: 0;
  padding-top: 6px;
}

.form-group {
  margin: 3px 0 0;

  .form-control {
    margin-bottom: 0;
  }
}
//////////////////////////////// Footer //////////////////////////////////////
.footer {
  padding: 50px 0 20px 0;

  .pull-center {
    display: inline-block; // To make the social icons on the right displayed in the same line
  }
}

// Social icons in the footer
.social-icons {
  font-size: 18px;

  a:hover {
    color: #fff
  }
}

@media screen and (min-width: 768px) {
  // HACK to center the copyright info on desktop (no margin on mobile)
  .footer .social-icons {
    margin-left: -120px;
  }
}

.newsletter-text {
  // Add margin to make the card size the same as other cards
  margin-bottom: 64px;
}

// If we change the color of the background on a card (like on contact page),
// we need to fix the bottom border to be rounded again
.border-bottom-rounded {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
