/////////////////////////// Colors definitions ///////////////////////////////
$grey: #999;
$ghost-grey: #90a4ae;
$grey-border: rgba(153, 153, 153, .3);
$grey-text: #212121;
$light-grey: rgba(0, 0, 0, .5);
$primary-blue: #03a9f4;
$primary-text: #3c4858;
$white: #fff;
$white-on-dark: rgba(255, 255, 255, .8);
$dark-background: #263238;
$dark-blue: #0277bd;
$deep-purple: #7e57c2;
$orange: #ff9800;
//////////////////////// Additional settings /////////////////////////////////
$bigger-font: 16px;

// Pricing card
// Ghost button
.btn-ghost {
  background: transparent;
  border: 2px solid $white;
  transition-duration: 80ms;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: $ghost-grey;
    border-color: $ghost-grey;
  }
}

// Copy widget styles
.copy {
  cursor: pointer;
  position: relative;
}

.copy-label,
.copied-label {
  position: absolute;
  right: 0;
  visibility: hidden;
}

.uncopied:hover > .copy-label {
  visibility: visible;
}

.copied > .copied-label {
  background-color: $primary-blue;
  // Add nice fadeout animation
  opacity: 0;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  visibility: visible;
}

// To make the label aligned vertically in the middle, add line height
pre.copy {
  line-height: 22px;
}

// Wrap the dropdown menu in a div with this class, to align the menu correctly
.dropdown-relative {
  position: relative;
  display: inline-block;
}

//////////////////////// General rules - for each website ////////////////////

p {
  font-size: $bigger-font;
}

.main-raised {
  // Limit width to make the cards more visible
  margin: -60px auto 0;
  max-width: 1300px;
}

// Adjust the font size of material icons in cards
.material-icons--inline-card {
  font-size: 1.2em;
}

// Center the navigation
.nav-center {
  display: flex;
  justify-content: center;
}

////////////////////////////// Home page specific elements ///////////////////
.hero {
  background-color: $primary-blue;
  color: $white;
  min-height: 300px;

  &__lead {
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 20px 0 10px;
  }

  &__link {
    color: $white;
    text-decoration: underline;
  }

  &__link:hover,
  &__link:active,
  &__link:focus {
    color: $white;
    cursor: pointer;
  }
}

.hero__disclaimer {
  margin-bottom: -10px;
  margin-top: 20px;
}

.card__icon {
  height: 120px;
  width: 120px;
}

.category {
  &__header {
    margin-bottom: 20px;
    margin-top: 50px;
  }
}

.background-inverse {
  background-color: $dark-background;
  color: $white;

  p {
    color: $white-on-dark;
  }

  &--blue {
    background-color: $dark-blue;
  }

  &--deep-purple {
    background-color: $deep-purple;
    p {
      color: $white;
    }
  }
}

.js-switch-label {
  text-transform: uppercase;

  &--active {
    color: $grey-text;
    font-weight: bold;
  }
}

.togglebutton--white {
  .js-switch-label {
    color: $grey;

    &--active {
      color: $white;
    }
  }
}

.js-price-hidden {
  display: none;
}

////////////////////////////// Hosting category //////////////////////////////
// Make hosting price equal height (except on mobile!)
// and put the sign up button at the bottom
.price-card--350,
.price-card--400,
.price-card--450,
.price-card--500,
.price-card--700 {
  padding-bottom: 95px; // 95px gives ~25px space on top of the signup button
}

@media screen and (min-width: 400px){
  .price-card--350 {
    min-height: 350px;
    padding-bottom: 0;
    position: relative;
  }

  .price-card--400 {
    min-height: 400px;
    padding-bottom: 0;
    position: relative;
  }

  .price-card--450 {
    min-height: 450px;
    padding-bottom: 0;
    position: relative;
  }

  .price-card--500 {
    min-height: 500px;
    padding-bottom: 0;
    position: relative;
  }

  .price-card--700 {
    min-height: 700px;
    padding-bottom: 0;
    position: relative;
  }
}

.absolute-signup-button {
  bottom: 25px;
  position: absolute;
  width: 100%;
}
// Special padding for instance name, to align the Amazon price cards with
// the other cards
.price .amazon-small-padding {
  padding-bottom: 4px;
  padding-top: 0;
}
////////////////////////////// Analytics category ////////////////////////////
.analytics-dashboard-img {
  margin: 50px auto 40px; // Set the same margin as for the header
  max-height: 300px;
}
//////////////////////////// Monitoring category /////////////////////////////
// Align the help icon with the text in the list item
.material-icon--pricing-table {
  color: $primary-blue;
  font-size: 20px;
  margin-top: -5px;
  position: relative;
  top: 4px;
}
////////////////////////////////// Emails category ///////////////////////////
// Simple trick to make the email categories (campaign/transactional) break
// on small devices (it looks better that way).
.mobile-split-lines {
  display: block;
}

@media screen and (min-width: 400px){
  .mobile-split-lines {
    display: inline;
  }
}
/////////////////////////////// Subscribe  //////////////////////////////////
.subscribe {
  padding-bottom: 100px;

  &__header {
    font-weight: bold;
    margin-top: 100px;
  }

  &__description {

    font-size: 14px;
    padding-bottom: 20px;
  }
}

// Overwrite some bootstrap styles
.input-group .input-group-addon {
  padding-left: 0;
  padding-top: 6px;
}

.form-group {
  margin: 3px 0 0;

  .form-control {
    margin-bottom: 0;
  }
}
//////////////////////// FAQ page specific elements //////////////////////////
.faq-list {
  font-size: $bigger-font;
}

.anchor--hidden {
  // Create a hidden anchor that has some padding for the sticky navigation
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

//////////////////////////////// Footer //////////////////////////////////////
.footer {
  padding: 50px 0 20px 0;

  .pull-center {
    display: inline-block; // To make the social icons on the right displayed in the same line
  }
}

// Social icons in the footer
.social-icons {
  font-size: 18px;

  a:hover {
    color: #fff
  }
}

@media screen and (min-width: 768px) {
  // HACK to center the copyright info on desktop (no margin on mobile)
  .footer .social-icons {
    margin-left: -120px;
  }
}