<div
  class="modal fade"
  id="affiliations-disclaimer"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content navy-blue">
      <div class="modal-header">
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-hidden="true"
          aria-label="Close"
        >
          &times;
        </button>
        <h4 class="navy-blue modal-title text-center" id="amazon-free-label">
          Affiliate links
        </h4>
      </div>
      <div class="modal-body text-center">
        <p class="navy-blue">
          Affiliate links have a special code in the URL. If you register from
          this link, some companies will give free credits to either both of us
          or just to me (depending on how a company set up their affiliation
          program - I always ask if they have some coupon codes that will give
          credits to both sides). Those credits can be used on their website
          (for a few months of free hosting, a cheaper domain, etc.) or redeemed
          for money (only for domains providers).<br /><br />Affiliation program
          doesn't affect whether a company is recommended or not. You can read
          more about how I select companies/tools on the
          <a href="/contact">About &amp; contact</a> page.
        </p>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-default btn-simple"
          type="button"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<footer class="footer background-inverse">
  <div class="container">
    <div class="text-center">
      <div class="pull-center">
        <span>© 2016-{{ site.time | date: '%Y' }} DeployStack.</span><br /><span
          >Some of the links are
          <a
            href="#"
            data-toggle="modal"
            data-target="#affiliations-disclaimer"
            aria-label="Affiliations disclaimer information"
            >affiliate links</a
          ></span
        ><br /><span
          >Made by
          <a href="https://switowski.com/" target="_blank">switowski</a> using
          <a
            href="https://www.creative-tim.com/product/material-kit/?affiliate_id=93857"
            target="_blank"
            >Material Kit</a
          >
          and
          <a
            href="http://www.freepik.com/free-vector/rocket-flying-out-of-the-monitor_765338.htm"
            target="_blank"
            >Rocket image by freepik</a
          ></span
        >
      </div>
      <div class="social-icons pull-right">
        <a
          class="js-social-share dib pa2"
          href="http://twitter.com/share?url=https://deploystack.io&amp;amp;text=DeployStack: curated list of tools for launching websites&amp;amp;hashtags=deploystack"
          target="_blank"
          title="Twitter share"
          ><i class="fa fa-twitter"></i
        ></a>
        <a
          class="js-social-share dib pa2"
          href="http://www.facebook.com/sharer.php?u=https://deploystack.io"
          target="_blank"
          title="Facebook share"
          ><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </div>
</footer>
<script async src="{{ "/assets/js/main.min.js?v=20200912" | relative_url }}"></script>

