<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="{{ site.description }}"
  />

  <meta property="og:url" content="{{ site.description }}"/>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="DeployStack" />
  <meta
    property="og:description"
    content="{{ site.description }}"
  />
  <meta property="og:image" content="{{ site.baseurl }}/assets/img/fb_og_img.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@SebaWitowski" />
  <meta name="twitter:creator" content="@SebaWitowski" />
  <meta name="twitter:title" content="DeployStack" />
  <meta
    name="twitter:description"
    content="{{ site.description }}"
  />
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/twitter_card_img.png" />
  <title>Best tools for launching your website - DeployStack</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png?v=20201017'">
  <!--[if IE]><link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico?v=20201017"><![endif]-->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico?v=20201017">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic%7CMaterial+Icons"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/frameworks.min.css?v=1.0.2" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.min.css?v=1.0.2" />
</head>
