<nav
  class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll navbar-info"
>
  <div class="container">
    <div class="navbar-header">
      <button
        class="navbar-toggle collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="sr-only">Toggle navigation</span
        ><span class="icon-bar"></span><span class="icon-bar"></span
        ><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DeployStack</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown"
            >Tools <b class="caret"></b
          ></a>
          <ul class="dropdown-menu">
            <li><a href="/hosting">Hosting</a></li>
            <li><a href="/domain">Domain</a></li>
            <li><a href="/ssl">SSL</a></li>
            <li><a href="/monitoring">Monitoring</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/files-storage">Files storage</a></li>
            <li><a href="/cdn">CDN</a></li>
            <li><a href="/error-tracking">Error tracking</a></li>
            <li><a href="/emails">Emails</a></li>
            <li><a href="/version-control">Version Control</a></li>
            <li>
              <a href="/continuous-integration">Continuous integration</a>
            </li>
            <li><a href="/static-websites">Static websites</a></li>
            <li><a href="/cloud-computing">Cloud computing</a></li>
          </ul>
        </li>
        <li><a href="/contact">About &amp; Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
