<form
  class="validate"
  method="post"
  action="//deploystack.us14.list-manage.com/subscribe/post?u=416fc32caca9fd4416f05307a&amp;amp;id=114f7b0b26"
  target="_blank"
  novalidate="novalidate"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <span class="input-group-addon"
          ><i class="material-icons">mail</i></span
        >
        <div class="form-group">
          <input
            class="form-control"
            id="mce-EMAIL"
            type="email"
            value=""
            placeholder="Your email..."
            name="EMAIL"
          />
        </div>
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input
            type="text"
            name="b_416fc32caca9fd4416f05307a_114f7b0b26"
            tabindex="-1"
            value=""
          />
        </div>
      </div>
    </div>
    <div class="text-center">
      <button
        class="btn btn-warning"
        id="mc-embedded-subscribe"
        type="submit"
        value="Subscribe"
        name="subscribe"
      >
        Subscribe
      </button>
    </div>
  </div>
</form>
