<section class="hero pt7 pb6">
  {% include outdated.html %}
  <div class="container">
      <div class="row">
          <div class="hero__box">
              <div class="text-center hidden-xs col-sm-5">
                <img class="hero__icon" src="{{ site.baseurl }}/assets/img/icons/{{include.icon}}" alt="{{include.title}} icon" />
              </div>
              <div class="hero__text col-xs-12 col-sm-7 mb7">
                  <h1 class="text-center">{{include.name}}</h1>
                  {% if include.hero_description %}
                    <p class="hero__description">{{include.hero_description}}</p>
                    {% else %}
                    <p class="hero__description">{{include.description}}</p>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</section>
