//- Coupon codes modals
//- CDN77
#cdn77-coupon.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
      .modal-body.text-center
        p New users can get up to 33% bonus with their first payment.<br>
          | However, new users coming from DeployStack website will get an additional #[strong 10%] bonus on top of that, which means you can get up to #[strong 43%] bonus with your first payment. No coupon code needed, just #[a(rel="nofollow" target="_blank", href="https://www.cdn77.com/signup?utm_source=deploystack&utm_campaign=bonus-signup&utm_medium=affiliate") sign up here].
      .modal-footer
        button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close
