//- Coupon codes modals
#linode-coupon.modal.fade(tabindex="-1", role="dialog", aria-labelledby="linode-coupon-label" aria-hidden="true")
  .modal-dialog.modal-sm(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
      .modal-body
        p To get 10$ bonus, use code:
          pre.copy.uncopied(data-clipboard-text='LINODE10')
            code LINODE10
            span.label.copy-label Copy
            span.label.copied-label Copied!
        p during the registration.
      .modal-footer
        button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close

#digitalocean-coupon.modal.fade(tabindex="-1", role="dialog", aria-labelledby="digitalocean-coupon-label" aria-hidden="true")
  .modal-dialog.modal-sm(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
      .modal-body
        p To get 10$ bonus, use code LINODE10 when signing up on Linode.
      .modal-footer
        button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close
