//- Coupon codes modals
//- MailChimp
#mailchimp-coupon.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mailchimp-coupon-label" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true", aria-label="Close") &times;
      .modal-body.text-center
        p Everyone gets $30 credits when they sign up for MailChimp.<br>
          | Simply click the "Open MailChimp" button and register.
      .modal-footer
        button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close
