//- Coupon codes modals
//- MailChimp
#mailchimp-coupon.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mailchimp-coupon-label" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
      .modal-body.text-center
        p When you sign up to MailChimp using someone's referral link, both of you will receive $30 in MailChimp's credits that can be used when you become a paying customer.
        p Simply click the "Open MailChimp" button and register to receive your credits.
      .modal-footer
        button.btn.btn-default.btn-simple(type="button", data-dismiss="modal") Close
