// Override some framework settings
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  // Increase default font weight
  font-weight: 400;
}

a,a:focus,a:hover {
  color: #03a9f4;
}

body {
  background-color: #CFD8DC;
  color: #333333;
}
